@page "/"

@inject ISmarthutService SmarthutService;

<div class="album py-5 bg-white">
    <div class="container">
        <div class="row">
            @foreach (var device in _devices)
            {
                <DeviceCard Device="@device" />
            }
        </div>
    </div>
</div>

@code
{
    private IEnumerable<Device> _devices = new List<Device>();

    protected override async Task OnInitializedAsync()
    {
        _devices = await SmarthutService.GetDevices();
    }

}