<AuthorizeView>
    <Authorized>
        <p class="user-display my-auto"><i class="fas fa-user"></i>&nbsp; @context.User.Identity.Name</p>
        <a class="btn btn-primary ml-2" href="AzureAD/Account/SignOut"><i class="fas fa-sign-out-alt"></i>&nbsp;Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="AzureAD/Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>